<!--
input object:
pizza:  {
            id:1,
            icon:'assets/images/pizza_7.jpg',
            title: "Імпреза",
            type: 'М’ясна піца',
            content: {
                meat: ['балик', 'салямі'],
                chicken: ['куриця'],
                cheese: ['сир моцарелла', 'сир рокфорд'],
                pineapple: ['ананаси'],
                additional: ['томатна паста', 'петрушка']
            },
            small_size:{
                weight: 370,
                size: 30,
                price: 99
            },
            big_size:{
                weight: 660,
                size: 40,
                price: 169
            },
            is_new:true,
            is_popular:true
        }
-->

<%
function getIngredientsArray(pizza) {
    var content = pizza.content;
    var result = [];
    Object.keys(content).forEach(function(key){
        result = result.concat(content[key]);
    });
    return result;
}
%>
<%
function getBuyColumnClass(pizza) {
    return "right text-center " + (pizza.big_size && pizza.small_size? "col-xs-6" : "col-xs-12")
}
%>

<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
    <div class="thumbnail pizza-card">
        <% if (pizza.is_new) {%>
            <span class="field-label label-danger state">Нова</span>
        <%}%>
        <% if (pizza.is_popular) {%>
        <span class="field-label label-success state">Популярна</span>
        <%}%>

        <img class="mainImg" src="<%=pizza.icon%>"/>

        <div class="caption">
            <h3 class="name"><%=pizza.title%></h3>
            <p class="type"><%=pizza.type%></p>

            <p class="ingredients">
                <%=getIngredientsArray(pizza).join(", ")%>
            </p>
        </div>

        <div class="buy-columns">

            <%if (pizza.small_size) {%>
            <div class="<%=getBuyColumnClass(pizza)%>">
                <div class="diameter"><img src="../www/assets/images/size-icon.svg"/>
                    <%=pizza.small_size.size%>
                </div>
                <div class="mass"><img src="../www/assets/images/weight.svg"/>
                    <%=pizza.small_size.weight%>
                </div>
                <div class="price">
                    <%=pizza.small_size.price%>
                </div>
                <div class="currency">грн.</div>
                <button type="button" class="btn buy-small">Купити</button>
            </div>
            <%}%>

            <%if (pizza.big_size) {%>
            <div class="<%=getBuyColumnClass(pizza)%>">
                <div class="diameter"><img src="../www/assets/images/size-icon.svg"/>
                    <%=pizza.big_size.size%>
                </div>
                <div class="mass"><img src="../www/assets/images/weight.svg"/>
                    <%=pizza.big_size.weight%>
                </div>
                <div class="price">
                    <%=pizza.big_size.price%>
                </div>
                <div class="currency">грн.</div>
                <button type="button" class="btn buy-big">Купити</button>
            </div>
            <%}%>

        </div>

        <span class="clearfix"></span>
    </div>
</div>
